<div class="col-md-12">
    <h2>Data Table</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"  />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>

<hr>

<section *ngIf="isLoading && !errorMessage">
    Loading .................. Retrieving data...
</section>

<section *ngIf="errorMessage">
      {{errorMessage}}
</section>

<div>
        <ngx-datatable 
          class='material'
          [rows]="rows"
          [columns]="columns"

          [headerHeight]="50"
          [footerHeight]="50"
          [columnMode]="'force'"
          [rowHeight]="50"

          [limit]="10"
          
          >
            <ngx-datatable-column name="albumId" width="50">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <strong>{{value}}</strong>
                </ng-template>
            </ngx-datatable-column>

          
            <ngx-datatable-column name="thumbnailUrl" width="300">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <i [innerHTML]="row['name']"></i> and <i>{{value}}</i>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="title" width="300">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <strong>{{value}}</strong>
                    </ng-template>
                </ngx-datatable-column>

            <!-- <ngx-datatable-column name="Row Height" prop="height" width="80"></ngx-datatable-column> -->

        </ngx-datatable>
</div>

<!--

<table class="table"><tbody>
<tr *ngFor="let hero of photosArray" (click)="onSelect(hero)">
      <td>{{hero.id}}</td>
      <td>{{hero.title}}</td>
</tr>
</tbody></table>

-->

<!--

<table class="table"><tbody>
<tr *ngFor="let course of observablePhotos | async">
    <td>ID: {{course?.id}}</td>
    <td>TL: {{course?.title}}</td>
</tr>
</tbody></table>

-->

<!--

<div class="row">
  <div class="col-md-4">
    <input *ngIf="config.filtering" placeholder="Ricerca in tabella..."
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config)"/>
  </div>
</div>

<br>

<ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table>
<pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination>
<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>

-->