
    <h2>Data Table</h2>

<section *ngIf="errorMessage">
      {{errorMessage}}
</section>

<button (click)="pdfMake()" class="btn btn-primary">PDF</button>

<ng2-smart-table [settings]="settingsDataTable" [source]="sourceDataTable"></ng2-smart-table>

<!--

<table class="table"><tbody>
<tr *ngFor="let hero of photosArray" (click)="onSelect(hero)">
      <td>{{hero.id}}</td>
      <td>{{hero.title}}</td>
</tr>
</tbody></table>

-->

<!--

<table class="table"><tbody>
<tr *ngFor="let course of observablePhotos | async">
    <td>ID: {{course?.id}}</td>
    <td>TL: {{course?.title}}</td>
</tr>
</tbody></table>

-->

<!--

<div class="row">
  <div class="col-md-4">
    <input *ngIf="config.filtering" placeholder="Ricerca in tabella..."
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config)"/>
  </div>
</div>

<br>

<ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table>
<pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination>
<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>

-->